$primary-color-peach: #e7816b;
$light-peach-color: #ffad9b;
$primary-black: #1d1c1e;
$primary-dark-grey: #333136;
$white: #ffffff;
$light-grey: #f1f3f5db;
$collection-color: #fdf3f0;

// Font styles
$large-h1-fs: 4.8rem;
$large-h1-lh: 1;
$large-h2-fs: 4rem;
$large-h2-lh: 1.2;
$large-h3-fs: 2rem;
$large-h3-lh: 1.3;
$medium-h2-fs: 3.2rem;
$medium-h2-lh: 1.125;
$normal-fs: 1.6rem;
$normal-lh: 1.625;
$small-fs: 1.5rem;
$small-lh: 1.6;
$header-fs: 1.4rem;
$header-lh: 1;
