* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px dotted red;
  outline-offset: 4px;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  object-fit: cover;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Jost";
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.dark__btn {
  display: inline-block;
  padding: 1.8rem 2.5rem 1.6rem 2.4rem;
  background-color: $white;
  color: $primary-black;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 1px;
  border-radius: 0.8rem;
  text-transform: uppercase;
}

.dark__btn:hover {
  background-color: $light-peach-color;
  color: $white;
}

.light__btn {
  display: inline-block;
  padding: 1.8rem 2.5rem 1.6rem 2.4rem;
  background-color: $primary-color-peach;
  color: $white;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 1px;
  border-radius: 0.8rem;
  text-transform: uppercase;
}

.light__btn:hover {
  background-color: $light-peach-color;
  color: $white;
}
